@attribute [Route(Routes.TecnicoNuevo)]
@attribute [Route(Routes.TecnicoEditar + "/{id:int}")]

@layout MainLayout
@attribute [Authorize(Roles = CatalogRoles.Administrador)]

@inject ITecnicoProxy tecnicoProxy;
@inject IToastService toastService;
@inject NavigationManager Navegador;

<div class="uk-flex uk-margin-large-top">
    <div class="uk-width-2-3@m uk-width-1-1@s uk-margin-auto rounded">
        <div class="uk-card uk-card-default uk-card-body uk-padding-large rounded">
            
            <div class="uk-text-center uk-margin-medium-bottom">
                <h2 class="uk-text-bold uk-margin-small-bottom">Registrar Técnico</h2>
                <p class="uk-text-muted uk-margin-remove-top">Ingresa los datos del nuevo técnico en el sistema.</p>
            </div>

            <EditForm Model="RequestTecnico" OnValidSubmit="Guardar" class="uk-child-width-1-1 uk-grid-small">
                <DataAnnotationsValidator />               

                <div class="uk-grid-small" uk-grid>                   

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Nombre</label>
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-user"></i></span>
                                <input class="uk-input" type="text" @bind="RequestTecnico.Nombres" placeholder="Ejm: Pedro">                               
                            </div>
                            <ValidationMessage For="() => RequestTecnico.Nombres" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Apellidos</label>
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-user"></i></span>
                                <input class="uk-input" type="text" @bind="RequestTecnico.Apellidos" placeholder="Ejm: Pérez" >
                            </div>
                            <ValidationMessage For="() => RequestTecnico.Apellidos" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">No. Identificación</label>
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-credit-card"></i></span>
                                <input class="uk-input" type="text" @bind="RequestTecnico.NoIdentificacion" placeholder="71324212" >
                            </div>
                            <ValidationMessage For="() => RequestTecnico.NoIdentificacion" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Código</label>
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-hash"></i></span>
                                <input class="uk-input" type="text" @bind="RequestTecnico.Codigo" placeholder="Ejm: CA0000" >
                            </div>
                            <ValidationMessage For="() => RequestTecnico.Codigo" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Especialidad</label>
                            <div class="uk-position-relative uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-activity"></i></span>
                                <select class="uk-select uk-form-icon-flip" @bind="RequestTecnico.Especialidad" style="padding-left: 40px;" >
                                    <option value="">Seleccione una especialidad...</option>
                                    <option value="mecanico">Mecánico</option>
                                    <option value="electrico">Eléctrico</option>
                                    <option value="soldador">Soldador</option>
                                    <option value="lubricador">Lubricador</option>                                    
                                </select>
                            </div>
                            <ValidationMessage For="() => RequestTecnico.Especialidad" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Turno</label>
                            <div class="uk-position-relative uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-clock"></i></span>
                                <select class="uk-select uk-form-icon-flip" @bind="RequestTecnico.TurnoActual" style="padding-left: 40px;" >
                                    <option value="">Seleccione un turno...</option>
                                    <option value="grupo1">Grupo 1</option>
                                    <option value="grupo2">Grupo 2</option>
                                    <option value="grupo3">Grupo 3</option>                                    
                                </select>
                            </div>
                            <ValidationMessage For="() => RequestTecnico.TurnoActual" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Email</label>
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-mail"></i></span>
                                <input class="uk-input" type="email" @bind="RequestTecnico.Email" placeholder="name@example.com" >
                            </div>
                            <ValidationMessage For="() => RequestTecnico.Email" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Celular</label>
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-phone"></i></span>
                                <input class="uk-input" type="text" @bind="RequestTecnico.Telefono" placeholder="973122312">
                            </div>
                            <ValidationMessage For="() => RequestTecnico.Telefono" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Contraseña</label>
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-lock"></i></span>
                                <input class="uk-input" type="password" @bind="RequestTecnico.Clave" placeholder="********" >
                            </div>
                            <ValidationMessage For="() => RequestTecnico.Clave" />
                        </div>
                    </div>

                    <div class="uk-width-1-2@s">
                        <div class="uk-margin">
                            <label class="uk-form-label">Confirmar Contraseña</label>
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon"><i class="icon-feather-lock"></i></span>
                                <input class="uk-input" type="password" @bind="RequestTecnico.ConfirmarClave" placeholder="********" >
                            </div>
                            <ValidationMessage For="() => RequestTecnico.ConfirmarClave" />
                        </div>
                    </div>
                    
                </div>

                <!-- Botones -->
                <div class="uk-width-1-1 uk-flex uk-flex-right uk-margin-small-top">
                    <button type="button" class="uk-button btn-secundario uk-margin-small-right" @onclick="Cancelar">
                        <i class="icon-feather-x-circle uk-margin-small-right"></i> Cancelar
                    </button>
                    <button type="submit" class="uk-button btn-corporativo">
                        <i class="icon-feather-save uk-margin-small-right"></i> Guardar
                    </button>
                </div>
                
            </EditForm>
        </div>
    </div>
</div>

<Loading Isloading="isLoading" />

@code {
    public TecnicoRequest RequestTecnico { get; set; } = new();
    public bool isLoading { get; set; }

    [Parameter]
    public int? id { get; set; }

    protected override async Task OnInitializedAsync()
    {        
        if(id.HasValue && id.Value > 0)
        {
            await BuscarPorId(id.Value);
        }
        else
        {
            RequestTecnico = new();
        }
    }

    private async Task BuscarPorId(int id)
    {
        isLoading = true;
        try
        {
            var response = await tecnicoProxy.ObtenerPorId(id);
            if(response?.Result != null)
            {
                RequestTecnico = new TecnicoRequest
                    {
                        Id = response.Result.Id,
                        Nombres = response.Result.Nombres,
                        Apellidos = response.Result.Apellidos,
                        NoIdentificacion = response.Result.NoIdentificacion,
                        Codigo = response.Result.Codigo,
                        Especialidad = response.Result.Especialidad,
                        TurnoActual = response.Result.TurnoActual,
                        Email = response.Result.Email,
                        Telefono = response.Result.Telefono,
                        Status = response.Result.Status
                    };

            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    public async Task Guardar()
    {
        isLoading = true;
        try
        {
            if (RequestTecnico.Id == 0)
            {
                var respuesta = await tecnicoProxy.Registrar(RequestTecnico);             
                toastService.ShowSuccess("Tecnico registrado exitosamente.");
                Navegador.NavigateTo(Routes.Tecnicos);
                
            }
            else
            {                
                var respuesta = await tecnicoProxy.Actualizar(RequestTecnico.Id, RequestTecnico);               
                toastService.ShowSuccess("Tecnico actualizado exitosamente.");
                Navegador.NavigateTo(Routes.Tecnicos);
                
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    public void Cancelar()
    {
        Navegador.NavigateTo(Routes.Tecnicos);
    }
}
