@using System.Security.Claims


@inject GrupoTrabajoEstado grupoEstado
@inject IGrupoTrabajoProxy grupoProxy
@inject AuthenticationStateProvider auth

@inherits LayoutComponentBase
<BlazoredToasts Position="ToastPosition.BottomRight" />


<div id="wrapper">
    <header class="header" uk-sticky="top:20 ; cls-active:header-sticky">

        <div class="container">
            <nav uk-navbar="">

                <!-- left Side Content -->
                <div class="uk-navbar-left custom-navbar-left">

                    <span class="btn-mobile" uk-toggle="target: #wrapper ; cls: mobile-active"></span>

                    <!-- logo uk-flex uk-flex-middle -->
                    <a href="Home" class="logo-dltd ">                       
                        <img src="/assets/images/Drummond.png" alt="Logo DLTD" class="logo-img">
                    </a>

                    <!-- breadcrumbs -->
                    <nav id="breadcrumbs" class="breadcrumbs-dltd">
                        <ul>                            
                            <li><a href="#"> Dashboard </a></li>
                            <li><a href="#">Mantenimiento</a></li>
                            <li>Pm Mantenimiento</li>
                        </ul>
                    </nav>
                </div>


                <AuthorizeView>
                    <!--  Right Side Content   -->
                    <div class="uk-navbar-right">

                        <div class="header-widget">
                            <!-- User icons close mobile-->
                            <span class="icon-feather-x icon-small uk-hidden@s" uk-toggle="target: .header-widget ; cls: is-active"> </span>
                            
                            <!-- profile-icon-->
                            <a>
                                Bienvenido, @context.User.Identity!.Name <span></span>
                            </a>
                           @*  <a href="#" class="header-widget-icon profile-icon">
                                <img src="..\assets\images\avatars\avatar-2.jpeg" alt="" class="header-profile-icon">
                            </a> 


                            @* <div uk-dropdown="pos: top-right ;mode:click" class="dropdown-notifications small">
                                
                                    <!-- User Name / Avatar -->
                                    <a href="profile-1.html">

                                        <div class="dropdown-user-details">
                                            <div class="dropdown-user-avatar">
                                                <img src="..\assets\images\avatars\avatar-2.jpeg" alt="">
                                            </div>
                                            <div class="dropdown-user-name">
                                                @context.User.Identity!.Name <span>@context.User.Claims.First(p => p.Type == ClaimTypes.Role).Value</span>
                                            </div>
                                        </div>

                                    </a>                      
                                
                            </div> *@

                        </div>



                        <!-- icon search-->
                        <a class="uk-navbar-toggle uk-hidden@s" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#">
                            <i class="uil-search icon-small"></i>
                        </a>

                        <!-- User icons -->
                        <a href="#" class="uil-user icon-small uk-hidden@s" uk-toggle="target: .header-widget ; cls: is-active">
                        </a>

                    </div>
                    <!-- End Right Side Content / End -->
                </AuthorizeView>
            </nav>

        </div>
        <!-- container  / End -->

    </header>

    <!-- overlay seach on mobile-->
    <div class="nav-overlay uk-navbar-left uk-position-relative uk-flex-1 bg-grey uk-light p-2" hidden="" style="z-index: 10000;">
        <div class="uk-navbar-item uk-width-expand" style="min-height: 60px;">
            <form class="uk-search uk-search-navbar uk-width-1-1">
                <input class="uk-search-input" type="search" placeholder="Search..." autofocus="">
            </form>
        </div>
        <a class="uk-navbar-toggle" uk-close="" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>

    <!-- search overlay-->
    <div id="searchbox">

        <div class="search-overlay"></div>

        <div class="search-input-wrapper">
            <div class="search-input-container">
                <div class="search-input-control">
                    <span class="icon-feather-x btn-close uk-animation-scale-up" uk-toggle="target: #searchbox; cls: is-active"></span>
                    <div class=" uk-animation-slide-bottom">
                        <input type="text" name="search" autofocus="" required="">
                        <p class="search-help">Type the name of the Course and book you are looking for</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <NavMenu></NavMenu>

    <div class="page-content">

        @Body

    </div>

    <footer class="content-footer">
        <p>&copy; @DateTime.Now.Year Deimer Castrillo. All Rights Reserved.</p>
    </footer>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        // Solo cargamos si el estado global está vacío
        if (grupoEstado.IdTecnicoEquipo.Count == 0)
        {
            var sesion = await ((AuthService)auth).GetTecnicoSesion();
            var res = await grupoProxy.Listar(new PaginationRequest { /* tus filtros si aplican */ });

            if (res?.Result != null)
            {
                grupoEstado.ActualizarGrupoTrabajo(res.Result.ToList(), sesion.NombresCompletos, sesion.Id);
            }
        }
    }
}

