@using DLTD.GestionPm.Dto.Response.Marca


<EditForm Model="Request" OnValidSubmit="OnGuardar">
    <DataAnnotationsValidator />

    <div class="uk-grid-small" uk-grid>

        <!-- Campo Referencia -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Referencia</label>
            <input class="uk-input uk-form-small" type="text" placeholder="Ingrese la referencia." @bind="Request.Referencia"
                   @onblur="() => Request.Referencia = LetraCapital.ToProper(Request.Referencia)"/>
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.Referencia" />
            </span>
        </div>
        <!-- Campo Descripción -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Descripción</label>
            <input class="uk-input uk-form-small" type="text" placeholder="Ingrese la descripción..." @bind="Request.Descripcion"
                   @onblur="() => Request.Descripcion = LetraCapital.ToProper(Request.Descripcion)" />
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.Descripcion" />
            </span>
        </div>
        <!-- Campo Marca -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Marca</label>
            <select class="uk-select uk-form-small" @bind="Request.IdMarca" >
                <option value="0">Seleccione una Marca</option>
                @foreach (var item in ListadoMarcas)
                {
                    <option value="@item.Id">@item.Descripcion</option>
                }
            </select>
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.IdMarca" />
            </span>
        </div>
        <!-- Campo Status -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Status</label>
            <select class="uk-select uk-form-small" @bind="Request.Status" disabled="@(Request.Id == 0)">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.Status" />
            </span>
        </div>

        <!-- Botones -->
        <div class="uk-width-1-1 uk-flex uk-flex-right uk-margin-small-top">
            <button type="button" class="uk-button btn-secundario uk-margin-small-right" @onclick="OnCancelar">
                <i class="icon-feather-x-circle uk-margin-small-right"></i> Cancelar
            </button>
            <button type="submit" class="uk-button btn-corporativo">
                <i class="icon-feather-save uk-margin-small-right"></i> Guardar
            </button>
        </div>

    </div>
</EditForm>


@code {
    [Parameter]
    public List<ListaMarcaResponse> ListadoMarcas { get; set; } = new();
    [Parameter]
    public ModeloRequest Request { get; set; } = new();
    [Parameter]
    public EventCallback OnGuardarEvent { get; set; } = default!;
    [Parameter]
    public EventCallback OnCancelarEvent { get; set; } = default!;

    public async Task OnGuardar()
    {
        await OnGuardarEvent.InvokeAsync();
    }
    
    public async Task OnCancelar()
    {
        await OnCancelarEvent.InvokeAsync();
    }
}
