@attribute [Route(Routes.Login)]

@using DLTD.GestionPm.Dto.Request.Login
@using DLTD.GestionPm.UI.Proxies.Interfaces
@using DLTD.GestionPm.UI.Services
@using Microsoft.AspNetCore.Components.Authorization

@inject ISecurityProxy securityProxy;
@inject IToastService toastService;
@inject AuthenticationStateProvider auth;
@inject NavigationManager navegador;

<BlazoredToasts Position="ToastPosition.BottomRight" />

<div class="login-container" uk-height-viewport>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m login-card" uk-grid>

        <!-- Sección Izquierda: Logo -->
        <div class="uk-flex uk-flex-middle uk-flex-center login-left">
            <div class="uk-text-center">
                <img src="assets/images/LogoDltd.png" alt="Logo de la empresa"
                     class="uk-margin-auto" style="max-width: 350px;">
                <h3 class="uk-margin-small-top">¡Bienvenido!</h3>
                <p>Drummond Colombia</p>
            </div>
        </div>

        <!-- Sección Derecha: Formulario -->
        <div class="uk-card-body login-right">
            <div class="mb-4 uk-text-center">
                <h3 class="mb-0">Iniciar Sesión</h3>
                <p class="my-2">Ingresa tus credenciales para acceder.</p>
            </div>

            <EditForm Model="Request" OnValidSubmit="OnLogin" class="uk-grid-width-1-1 uk-grid-small">

                <DataAnnotationsValidator />

                <div>
                    <div class="uk-form-group">
                        <label class="uk-form-label">Usuario</label>
                        <div class="uk-position-relative w-100">
                            <span class="uk-form-icon">
                                <i class="icon-feather-user"></i>
                            </span>
                            <input class="uk-input" type="text" @bind="Request.UserName" placeholder="Ejm: Usuario">
                        </div>
                        <ValidationMessage For="() => Request.UserName"/>
                    </div>
                </div>

                <div>
                    <div class="uk-form-group">
                        <label class="uk-form-label">Contraseña</label>
                        <div class="uk-position-relative w-100">
                            <span class="uk-form-icon">
                                <i class="icon-feather-lock"></i>
                            </span>
                            <input class="uk-input" type="password" @bind="Request.Password" placeholder="********">
                        </div>
                        <ValidationMessage For="() => Request.Password" />
                    </div>
                </div>

                <div class="uk-text-center mt-4">
                    <button type="submit" class="btn btn-corporativo">
                        <i class="icon-feather-log-in"></i> Iniciar Sesión
                    </button>
                </div>
            </EditForm>

        </div>
    </div>
</div>

@code{
    public LoginRequest Request { get; set; } = new();

    public async Task OnLogin()
    {
        try
        {
            var resultado = await securityProxy.Login(Request);

            var authService = (AuthService)auth;
            if (resultado.Result != null)
            {
                await authService.AuthenticationAsync(resultado.Result);
                navegador.NavigateTo("/Home");
                // toastService.ShowSuccess($"Bienvenid: {resultado.Result.Nombre}");
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}


