
@using DLTD.GestionPm.Dto.Response.Ruta



<EditForm Model="Request" OnValidSubmit="OnGuardar">
    <DataAnnotationsValidator />

    <div class="uk-grid-small" uk-grid>

        <!-- Campo CodigoTarea -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Codigo</label>
            <input class="uk-input uk-form-small" type="text" placeholder="Ingrese el codigo." @bind="Request.CodigoTarea"
                   @onblur="() => Request.CodigoTarea = LetraCapital.ToProper(Request.CodigoTarea)" />
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.CodigoTarea" />
            </span>
        </div>
        <!-- Campo Descripción -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Descripción</label>
            <input class="uk-input uk-form-small" type="text" placeholder="Ingrese la descripción..." @bind="Request.Descripcion"
                   @onblur="() => Request.Descripcion = LetraCapital.ToProper(Request.Descripcion!)" />
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.Descripcion" />
            </span>
        </div>
        <!-- Campo Duracion -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Duracion(Minutos)</label>
            <input class="uk-input uk-form-small" type="text" placeholder="Ingrese la duracion en horas." @bind="Request.Duracion"
                   @onblur="() => Request.Duracion = Request.Duracion" />
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.Duracion" />
            </span>
        </div>
        <!-- Campo NoTecnicos -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">No Tecnicos</label>
            <input class="uk-input uk-form-small" type="text" placeholder="Ingrese el No de Tecnicos." @bind="Request.NoTecnicos"
                   @onblur="() => Request.NoTecnicos = Request.NoTecnicos" />
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.NoTecnicos" />
            </span>
        </div>
        <!-- Campo Ruta -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Ruta</label>
            <select class="uk-select uk-form-small" @bind="Request.IdRuta">
                <option value="0">Seleccione una Ruta</option>
                @foreach (var item in ListadoRutas)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.IdRuta" />
            </span>
        </div>
        <!-- Campo Status -->
        <div class="uk-width-1-1">
            <label class="uk-form-label">Status</label>
            <select class="uk-select uk-form-small" @bind="Request.Status" disabled="@(Request.Id == 0)">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>
            <span class="uk-text-danger uk-text-small">
                <ValidationMessage For="() => Request.Status" />
            </span>
        </div>

        <!-- Botones -->
        <div class="uk-width-1-1 uk-flex uk-flex-right uk-margin-small-top">
            <button type="button" class="uk-button btn-secundario uk-margin-small-right" @onclick="OnCancelar">
                <i class="icon-feather-x-circle uk-margin-small-right"></i> Cancelar
            </button>
            <button type="submit" class="uk-button btn-corporativo">
                <i class="icon-feather-save uk-margin-small-right"></i> Guardar
            </button>
        </div>

    </div>
</EditForm>


@code {
    [Parameter]
    public List<ListaRutaResponse> ListadoRutas { get; set; } = new();
    [Parameter]
    public TareaRequest Request { get; set; } = new();
    [Parameter]
    public EventCallback OnGuardarEvent { get; set; } = default!;
    [Parameter]
    public EventCallback OnCancelarEvent { get; set; } = default!;

    public async Task OnGuardar()
    {
        await OnGuardarEvent.InvokeAsync();
    }

    public async Task OnCancelar()
    {
        await OnCancelarEvent.InvokeAsync();
    }
}
