@using DLTD.GestionPm.Dto.Response.TipoActividad

@attribute [Route(Routes.ListaActividades)]
@layout MainLayout
@attribute [Authorize(Roles = CatalogRoles.Administrador)]

@inject ITipoActividadProxy TipoActividadProxy;
@inject IToastService toastService;
@inject SweetAlertService swal;

<h3 class="uk-text-bold uk-margin-small-bottom">Listado Tipo de Actividades</h3>

<GroupBox Titulo="Buscar Tipo de Actividades">
    <Contenido>
        <div class="uk-grid-small" uk-grid>
            <!-- Input + botones -->
            <div class="uk-width-2-3@s">
                <div class="uk-grid-small uk-flex-middle" uk-grid>                    
                    <div class="uk-width-expand">
                        <input class="uk-input uk-form-small" placeholder="Buscar por nombre o descripción..." @bind="Request.Filter" />
                    </div>                    
                    <div>
                        <button class="uk-button uk-button-default uk-button-small" @onclick="Listar">
                            <i class="icon-feather-search"></i>
                        </button>
                    </div>                    
                    <div>
                        <button class="uk-button uk-button-default uk-button-small" @onclick="OnRefrescar">
                            <i class="icon-feather-rotate-ccw"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="uk-width-1-3@s uk-flex uk-flex-right">
                <button class="uk-button btn-corporativo uk-button-small" style="padding: 6px 18px;" @onclick="OnNuevo">
                    <i class="icon-feather-plus uk-margin-small-right"></i>
                    Nuevo
                </button>
            </div>

        </div>
    </Contenido>

</GroupBox>

<!-- Tabla -->
<div class="uk-overflow-auto tabla-container">    
    <table class="uk-table uk-table-striped uk-table-hover uk-table-small uk-table-middle tabla-compacta">

        <thead class="table-header">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Listado)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Status</td>
                    <td class="uk-text-center">

                        <button class="uk-icon-button uk-margin-small-right" uk-tooltip="Editar" @onclick="() => OnShowEditar(item)">
                            <i class="icon-feather-edit"></i>
                        </button>                        
                        
                        <button class="uk-icon-button uk-button-danger" uk-tooltip="Eliminar"  @onclick="() => OnEliminar(item)">
                            <i class="icon-feather-trash-2"></i>
                        </button>

                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

<Modal Title="TipoActividads" Size="ModalSize.Regular" UseStaticBackdrop=true @ref="ModalTipoActividads">
    <BodyTemplate>        
        <FrmTipoActividad Request="RequestTipoActividad" OnGuardarEvent="OnGuardar" OnCancelarEvent="() => ModalTipoActividads.HideAsync()" />
    </BodyTemplate>
</Modal>

<PagedList Titem="ListaTipoActividadResponse" Request="Request" Response="Paginacion" OnChange="Listar" />
<Loading Isloading="isLoading" />

@code {
    public List<ListaTipoActividadResponse> Listado { get; set; } = new();
    public PaginationRequest Request { get; set; } = new();
    public PaginationResponse<ListaTipoActividadResponse> Paginacion { get; set; } = new();
    public Modal ModalTipoActividads { get; set; } = new();
    public bool isLoading { get; set; }

    public TipoActividadRequest RequestTipoActividad { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await Listar();
    }

    public async Task Listar()
    {
        isLoading = true;
        try
        {
            var respuesta = await TipoActividadProxy.Listar(Request);
            if(respuesta?.Result != null)
            {
                Paginacion = respuesta;
                Listado = respuesta.Result.ToList();
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);            
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    public async Task OnRefrescar()
    {
        Request = new();
        await Listar();
    }

    public async Task OnNuevo()
    {
        RequestTipoActividad = new();
        await ModalTipoActividads.ShowAsync();
    }

    public async Task OnShowEditar(ListaTipoActividadResponse item)
    {
        RequestTipoActividad.Id = item.Id;
        RequestTipoActividad.Nombre = item.Nombre;
        RequestTipoActividad.Descripcion = item.Descripcion;
        RequestTipoActividad.Status = item.Status;
        await ModalTipoActividads.ShowAsync();
    }

    public async Task OnGuardar()
    {
        isLoading = true;
        try
        {
            if(RequestTipoActividad.Id == 0)
            {
                if (Listado.Any(x => string.Equals(x.Descripcion, RequestTipoActividad.Descripcion, StringComparison.OrdinalIgnoreCase)))
                {
                    toastService.ShowError("Registro existente, modifiquelo e intentelo de nuevo.");
                    return;
                }

                var respuesta = await TipoActividadProxy.Registrar(RequestTipoActividad);
                if (respuesta != null)
                {
                    await Listar();
                    await ModalTipoActividads.HideAsync();
                    toastService.ShowSuccess("Registro realizado exitosamente.");
                }
            }
            else
            {
                if (Listado.Any(x => string.Equals(x.Descripcion, RequestTipoActividad.Descripcion, StringComparison.OrdinalIgnoreCase) && x.Id != RequestTipoActividad.Id))
                {
                    toastService.ShowError("Registro existente, modifiquelo e intentelo de nuevo.");
                    return;
                }

                var respuesta = await TipoActividadProxy.Actualizar(RequestTipoActividad.Id, RequestTipoActividad);
                if (respuesta != null)
                {
                    await Listar();
                    await ModalTipoActividads.HideAsync();
                    toastService.ShowSuccess("Registro actualizado exitosamente.");
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    public async Task OnEliminar(ListaTipoActividadResponse item)
    {
        var respuesta = await swal.FireAsync(new SweetAlertOptions
        {
            Title = "Estas seguro en eliminar este registro?",
            Text = $"Eliminar {item.Descripcion}.",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            ConfirmButtonText = "Si",
            CancelButtonText = "No"
        });

        if (respuesta.IsConfirmed)
        {
            await Eliminar(item.Id);
        }
    }

    public async Task Eliminar(int id)
    {
        isLoading = true;
        try
        {
            var response = await TipoActividadProxy.Eliminar(id);
            if(response != null)
            {
                await Listar();
                toastService.ShowSuccess("Registro eliminado correctamente.");
            }

        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
    
}
